@import "../../global.scss";

.portfolio {
  overflow: auto;
  white-space: nowrap;
  background-color: $mainColor;
  h1 {
    position: relative;
    display: flex;
    justify-content: center;
    color: $textMain;
  }
  .container {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;

    .top {
    }
    .mid {
    }
    .bottom {
    }
    // .item:hover {
    //   animation: floatHover 0.3s ease-in-out infinite;
    //   // sets the origin of where i want the animation to start,
    //   //in this case it starts at -10% Y of it's position
    //   transform: translateY(-3%);
    // }
  }
}

// make the portfolio icon float slowly
@keyframes float {
  0% {
    transform: translateY(-10%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(10%);
    transition: ease 0.5s;
  }
}

// make the icon float faster when hovered on
@keyframes floatHover {
  0% {
    transform: translateY(-3%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(3%);
    transition: ease 0.5s;
  }
}
