@import "../../global.scss";

.portfolio {
  // height: 100% !important;
  white-space: nowrap;
  background-color: $mainColor;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  
  h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    color: $textMain;
    text-shadow: 2px 2px black;
    margin-top: 2%;
    width: 100vw;
    right: 0;
    left: 0;
  }
  .container {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 7% 5%;
    text-decoration: none;
    border-radius: 5%;
    box-shadow: 5px 5px black;

    transition: all 1s;
    position: relative;
    @include mobile{
      top: 10%
    }


    .top {
      height: 80%;
      width: 100%;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      transition: all 1s;

      img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
      }
    }
    .mid {
      height: 10%;
      width: 100%;
      margin: 2% 0%;
      font-size: 120%;
      font-weight: 500;

      transition: all 1s;
    }
    .bottom {
      height: 10%;
      width: 100%;
      background-color: $secondary;
      display: flex;
      justify-content: space-around;
      transition: all 1s;

      .links {
        width: 100%;
        a {
          font-size: 150%;
          margin: 5% 10%;
        }
      }
    }
  }
  .container:hover {
    transform: scale(1.04);

    .top {
      transform: scale(0.92);
      border-radius: 5px;
    }
    .mid {
      transform: translateY(-10px);
    }
    .bottom {
      transform: translateY(-14px) scale(0.9);
      border-radius: 5px;
    }
  }
}
