@import "../../global.scss";

// container
.intro {
  font-family: Teko;
  display: flex;

  // place background, they should stack in the following order with the first being on top
  //   trees, mountains, moon/stars, sky

  height: 100%;
  width: 100%;

  .bottom{
    background-image: url('../../../public/assets/nighsky.jpg');
    background-size: cover;
    filter:saturate(6);
    filter:blur(4px)
  }
  .gradient{
    background: linear-gradient(rgba(255, 124, 124, 0.753) 10%, rgba(255, 244, 86, 0.788));
  }
  .midground{
    background-image: url('../../../public/assets/mnt.png');
    background-size: cover;
    filter:blur(3px); 

  }
  .foreground{
    background-image: url('../../../public/assets/tree.PNG');
    background-size: cover    
    
  
  }

  .frontTextContainer {
    z-index: 3;
    position: absolute;
    width: 100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    .wrapper {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 75px;
        color: $mainColor;

      }
      h2 {
        font-size: 65px;
        color: $mainColor;

      }
      h3 {
        font-size: 95px;
        color: $textMain;


        span {
          font-size: inherit;
          color: $textMain;
        }

        .ityped-cursor {
          word-break: break-all;
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }

    a {
      position: absolute;
      bottom: 10px;

      right: 50%;

      img {
        // down arrow that leads to portfolio
        width: 30px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
