@import "../../global.scss";


.intro {
  font-family: Teko;
  display: flex;
  

  background: url(../../../public/assets/city.png), rgb(32, 32, 32);
  // makes background stick to ground on tablet devices
  @include tablet {
    background-attachment: fixed, scroll;
    z-index: -5;
    background-size: contain;
    background-position-y: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  // container
  .left {
    overflow: hidden;

    @include tablet {
      height: 100%;
      width: 50%;
    }

    // container for cartoon
    .imgContainer {
      background: rgba($color: rgb(207, 207, 141), $alpha: 0.1);

      border-radius: 50%;
      display: flex;
      // put character at bottom of container and centered
      align-items: flex-end;
      justify-content: center;

      // push characters background slightly offscreen
      @include tablet {
        position: relative;
        right: 20%;
        width: 120%;
        height: 120%;
      }

      // character size
      img {
        @include tablet {
          width: 90%;
          height: 100%;
          opacity: 100%;
        }
      }
    }
  }
  .right {
    @include tablet {
      width: 50%;
      height: auto;
    }

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 8%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        @include tablet {
          font-size: 75px;
        }
      }
      h2 {
        font-size: 65px;
      }
      h3 {
        font-size: 95px;

        span {
          font-size: inherit;
          color: rgb(189, 157, 18);
        }

        .ityped-cursor {
          word-break: break-all;
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }

    a {
      position: absolute;
      bottom: 10px;

      @include tablet {
        right: 50%;
      }

      img {
        // down arrow that leads to portfolio
        width: 30px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}

// .intro::before {
//   content: "";
//   position: fixed;
//   left: 0;
//   right: 0;
//   z-index: -4;

//   display: block;
//   background: url(../../../public/assets/citylights.png),rgb(32, 32, 32);
//   background-size:contain;
//   background-position-y: 100%;
//   background-repeat: repeat-x;
//   width: 100%;
//   height: 100%;

// }
