@import "../../global.scss";

.background {
  background-color: white;
  height: 80%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 0;
  border-radius: 5%;
  box-shadow: 10px 10px black;
  @include mobile {
    display: none;
  }
}
.aboutMe {
  height: 100%;
  width: 100%;
  background-color: $mainColor;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $mainColor;
  .container {
    background-color: $secondary;
    height: 80%;
    width: 41%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    overflow: hidden;
    background: url("https://i.imgur.com/jYCcS1t.jpg") center center no-repeat;
    background-size: 100% 100%;
    @include mobile {
      width: 90%;
    }

    transition: all 1s ease;
    .text {
      display: flex;
      position: absolute;
      flex-direction: column;
      transition: top 1s, opacity 1s;
      height: 100%;
      top: 100%;
      text-shadow: 1px 1px black;
      h1 {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 1% 0%;
      }
      h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
      }
      h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0% 10%;
      }
    }
    .links {
      opacity: 100%;

      display: flex;
      position: relative;
      bottom: -105%;
      left: 5%;
      transition: all 2s ease-out;

      .icon {
        color: $secondary;
        height: 70%;
        width: 60%;
        margin: 5%;
        display:flex;
        justify-content: center;
        align-items: center;

        @include mobile {
          width: 80%;
          height: 80%;

          
        }
      }
    }
  }

  .container:hover {
    background-color: opacity($color: #0000000a);
    background-size: 200% 200%;
    background-position: left bottom;
    .text {
      top: 0%;
    }
    .links {
      bottom: -40%;
      
    }
  }

 
}
